---
layout: default
title : Publications
navbar_title: Publications
body_attr: >-
  data-spy="scroll" data-target="#navbar-year" data-offset="100"
---

<style>
.nav-pills .nav-link {
    color: #6096B4;
}
.nav-pills .nav-link:hover {
    color: #6096B4;
    opacity: 0.8;
}
.nav-pills .nav-link.active {
    background-color: #6096B4;
    color: white;
}
.custom-radius {
    border-radius: 15px;
}
</style>

{% assign pubs_by_year = site.publications | sort: "date" | reverse | group_by_exp: "item", "item.date | date: '%Y'" %}

<div class="row">
    <div class="col-12 col-lg-3 d-none d-lg-block">
        <div class="sticky-top" style="top: 80px">
            <div class="card border-0 shadow-sm bg-white custom-radius">
                <div class="card-body p-4">
                    <div id="navbar-year" class="nav nav-pills flex-column">
                        {% for year in pubs_by_year %}
                        <a class="nav-link d-block" href="#year-{{ year.name }}">{{ year.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-9">
        <div class="row">
            <div class="col">
                <div class="card border-0 shadow-sm bg-white rounded-xl">
                    <div class="card-body p-4">
                        <span>Representative papers are </span>
                        <span style="background-color: #D2E9E9">highlighted.</span>
                    </div>
                </div>
            </div>
        </div>

        {% for year in pubs_by_year %}
        {% assign num_papers = year.items | size %}
        <h2 class="pt-4" id="year-{{ year.name }}">{{ year.name }}</h2>

        <div class="my-0 p-0 bg-white shadow-sm rounded-xl">
            {% for item in year.items %}
                {% include widgets/publication_item.html item=item hide_bottom_border=forloop.last first=forloop.first last=forloop.last %}
            {% endfor %}
            {% comment %}
            {% assign selected_items = year.items | where: "selected", true %}
            {% assign non_selected_items = year.items | where: "selected", false %}
            {% for item in selected_items %}
                {% include widgets/publication_item.html item=item hide_bottom_border=forloop.last first=forloop.first last=forloop.last %}
            {% endfor %}
            {% for item in non_selected_items %}
                {% include widgets/publication_item.html item=item hide_bottom_border=forloop.last first=forloop.first last=forloop.last %}
            {% endfor %}
            {% endcomment %}
        </div>
        
        {% endfor %}
    </div>
</div>
