<style>
    .pub-link {
        color: #98A8F8;
    }

    .view-all-link {
        color: #98A8F8;
    }

    .custom-radius {
        border-radius: 15px;
    }
</style>


<div class="my-3 p-0 bg-white shadow-sm custom-radius">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <img src="{{ '/assets/images/cute_icons/270d-fe0f.png' | relative_url }}" alt="Star"
                style="height: 1.6em; width: auto; margin-right: 0.5em;">
            <h6 class="mb-0">Research Overview</h6>
        </div>
        <p class="card-text">
            A central theme of my doctoral research is the <strong>ammonia combustion</strong>. My work spans from numerical simulation to experiments. 
        </p>
        <p class="card-text">
            Below is an overview that showcases all of my papers through a single identity! (To be updated)
        </p>
        <!-- <div class="text-center mt-4">
            <img src="{{ '/assets/images/overview.png' | relative_url }}" alt="Research Overview" class="img-fluid">
        </div> -->
    </div>
</div>